main {
    height: 90%;
    position: relative;
}
.group-list {
    display: flex;
    flex-direction: row;
    overflow-x: scroll ;
    margin: 0 8px;
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}





