.todo-card {
    width: 240px;
    min-height: 50px;
    border-radius: 3px;
    margin: 4px 4px;
    word-wrap: break-word;

}

.todo-card:hover  {
    background-color: #f8f8f8 !important;
    cursor: pointer;
}
.todo-card:hover .menu {
    visibility: visible;
}