.App {
	width: 100%;
	height: 100%;
}

.text {
	position: absolute;
	left: 546px;
	top: 30px;
	background: red;
}

/* width */
::-webkit-scrollbar {
    width: 10px;    
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: yellow;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #c3db59;
}
